.box {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;

    animation: move 4s infinite linear;
}

@keyframes move {
    0% {
        left: 0;
        top: 0;
        background-color: red;
    }
    25% {
        left: 200px;
        top: 0;
        background-color: green;
    }
    50% {
        left: 200px;
        top: 200px;
        background-color: blue;
    }
    75% {
        left: 0;
        top: 200px;
        background-color: yellow;
    }
    100% {
        left: 0;
        top: 0;
        background-color: red;
    }
}